gpt-oss/
LLaMA-Factory/
proj/
reasoning-gym
SAT-LM
verl
data


arlsat/env.py
arlsat/gpt
big_math/data/
arlsat/gpt/
arlsat/icl/data/
arlsat/icl/checkpoints/
arlsat/icl/__pycache__
arlsat/icl/.outputs
arlsat/icl/logs
arlsat/icl/wandb
arlsat/icl/gradient/data
arlsat/icl/gradient/data_resp
arlsat/icl/gradient/data_h
arlsat/icl/gradient_copy
arlsat/icl/gradient/gradient_back.py
arlsat/icl/**.txt
arlsat/icl/inference_test.py
arlsat/outputs
arlsat/sft/data/
arlsat/sft/outputs/
arlsat/sft/full/
arlsat/sft/__pycache__
arlsat/utils_/__pycache__/*
arlsat/pipeline/data
arlsat/pipeline/sh

big_math/*.json
big_math/*.log
big_math/gpt/data
big_math/gpt/rloo
big_math/**/data/*
big_math/**/__pycache__/*
big_math/**/*.log
big_math/outputs
big_math/*.png
big_math/*.pt

code/data
code/all_backup
code/Reward-Hacking-main

train/*
!train/grpo_train.py
!train/rloo_train.py
!train/sft_train.py
!train/labeling.py
!train/load_data.py
!train/ds_zero3.json
train/**/log
train/**/wandb
train/**/*.pt
train/codegen/sh/

**/__pycache__/*


.worktrees/
